$fontPath: '../font/';

@font-face {
    font-family: 'True Lies';
    src: url('#{$fontPath}true_lies-webfont.eot');
    src: url('#{$fontPath}true_lies-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}true_lies-webfont.woff2') format('woff2'),
         url('#{$fontPath}true_lies-webfont.woff') format('woff'),
         url('#{$fontPath}true_lies-webfont.ttf') format('truetype'),
         url('#{$fontPath}true_lies-webfont.svg#true_liesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// ========================================
//  B A S E    R U L E S
// ========================================

html {
  font-size: 16px;

  @include breakpoint-max(bp(medium)) {
    font-size: 15px;
  }

  @include breakpoint-max(bp(small)) {
    font-size: 14px;
  }
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  strong {
    font-family: $font-primary;
    font-weight: bold;
  }
}

// Zero out headlines
h1,h2,h3,h4,h5,h6, {
  font-weight: normal;
  margin: 0;
}

// Display sets for font sizes
.t-poster {
  @include type('poster');
}

.t-poster-small {
  @include type('posterSmall');
}

.t-display {
  @include type('display');
}

.t-display-small {
  @include type('displaySmall');
}

.t-display-smallest {
  @include type('displaySmallest');
}

.t-subhead {
  @include type('subhead');
}

.t-subhead-small {
  @include type('subheadSmall');
}

.t-subhead-smallest {
  @include type('subheadSmallest');
}

.t-lead {
  @include type('lead');
}

.t-body, p {
  @include type('body');
}

.t-smtext {
  @include type('smtext');
}

.t-caption {
  @include type('caption');
}

.t-caption-small, small {
  @include type('caption-small');
}

.t-footnote {
  @include type('footnote');
}

//TODO Implement Button Placeholders

.t-uppercase {
  text-transform: uppercase;
}
